.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-wrapper {
  position: relative;
  width: 80%; /* Chiếm 80% chiều rộng trên màn hình desktop */
  max-width: 800px; /* Giới hạn chiều rộng tối đa cho video */
  margin: 0 auto; /* Canh giữa video */
  padding-top: 56.25%; /* Tỷ lệ khung hình 16:9 */
  height: 0;
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive cho màn hình nhỏ hơn (điện thoại) */
@media (max-width: 600px) {
  .video-wrapper {
    width: 100%; /* Chiếm toàn bộ màn hình trên mobile */
    padding-top: 56.25%; /* Vẫn giữ tỷ lệ khung hình 16:9 */
  }
}

