.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-wrapper {
  width: 100%; /* Chiếm toàn bộ chiều rộng */
  max-width: 800px; /* Chiều rộng tối đa trên desktop */
  margin: 0 auto; /* Căn giữa */
  overflow: hidden; /* Ngăn video tràn ra ngoài */
}

.react-player {
  width: 100%; /* Video sẽ chiếm toàn bộ chiều rộng của phần tử chứa */
  height: auto; /* Tự động điều chỉnh chiều cao */
}
/* Đảm bảo không có margin hoặc padding trên body */
body {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Ngăn cuộn ngang */
}


.order-info {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 600px;
  color: #333; /* Màu chữ tối để dễ đọc */
  font-family: Arial, sans-serif; /* Font chữ dễ đọc */
}

.order-info h3 {
  margin-bottom: 15px;
  font-size: 24px; /* Kích thước chữ lớn hơn cho tiêu đề */
  color: #2c3e50; /* Màu chữ cho tiêu đề */
}

.order-info p {
  margin: 5px 0;
  font-size: 16px; /* Kích thước chữ cho đoạn văn */
  line-height: 1.5; /* Khoảng cách giữa các dòng */
}


@media (max-width: 768px) {
  .video-wrapper {
    padding: 0 10px; /* Thêm padding để tránh video chạm vào cạnh */
  }
  .react-player {
    border-radius: 8px; /* Bo tròn video */
    width: 95% !important;
  }
  .order-info {
    width: 85%;
  }
}
